body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    border: solid 5px navy;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

td {
    border: solid 2px navy;
}

#submit {
    font-size: 12px;
    background: navy;
    color: aliceblue;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
}